body {
    min-height: 100vh; 
}




.nav-link,nav-item{
    color: black;
    text-decoration: none;

}

.saludo{
    margin: 3% 0;
}
.cardMenu {
    background-color: #e0dddd;
    column-count: 2;
    column-gap: 20px; /* Espacio entre las columnas, ajusta según sea necesario */
}




.btn{
    margin: 5px;
}


.boleta {
    display: flex;
    position: absolute;
    margin-top: 5%;
    margin-bottom: 10%;
    top: 10%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}



footer {
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: #e0dddd;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 10%;
    z-index: 2;
}

footer p, footer h4 {
    margin: 0;
    padding: 0;
    color: #383c3c;
}

footer a {
    width: 10px;
    color: #383c3c;
}