.nav-link{
    color: black;
    text-decoration: none;

}
.nav-item{
    color: black;
}
.saludo{
    margin: 3%;
}

.boleta{
    margin-top: 15%;
}


.cardMenu{
    background-color: rgb(224, 221, 221);
}

.btn{
    margin: 5px;
}